{{ define "main" }}
<main class="flex-expand margin-top">
    <div class="bg-blue-light text-center padding-top-lge padding-bottom-lge padding-left padding-right">
        {{ .Content }}
    </div>
    <div class="content-container">
        {{ range where .Pages "Type" "case" }}
            {{- partial "case-study.html" . -}}
        {{ end }}
        <h2 class="margin-top-lge">Further Work</h2>
        <div class="thumbs margin-top">
        {{ range where .Pages "Type" "thumb" }}
            {{- partial "thumb-modal.html" . -}}
        {{ end }}
        </div>
    </div>
</main>
{{ end }}