<footer class="footer margin-top-lge padding-bottom-lge padding-top-lge bg-blue">
    <div class="footer-content content-container flex justify-space-bt">
        <div class="contact">
            <p>
                If you would like to find out more about what I do
                or how I can help you then please get in touch.
            </p>
            <p>
                I’d love to hear from you.
            </p>
            <p>
                hello@lucydeburgh.co.uk
            </p>                        
        </div>
        <div class="social">
            <a href="https://www.facebook.com/lucydeebe/">
                <img src="/images/icons/facebook.svg"/>
            </a>
            <a href="https://www.instagram.com/lucydeebe/">
                <img src="/images/icons/instagram.svg"/>
            </a>
            <a href="https://www.linkedin.com/in/lucy-de-burgh-52461032/">
                <img src="/images/icons/linkedin.svg"/>
            </a>
        </div>
        <nav class="footer-nav flex">
            {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a class="footer-nav-item" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{ end }}
        </nav>
    </div>
</footer>