<footer class="footer margin-top-lge padding-bottom padding-top-lge bg-green">
    <div class="content-container flex justify-end">
        <div class="flex-left">
            <p>
                If you would like to find out more about what I do <br/>
                or how I can help you then please get in touch.
            </p>
            <p>
                I’d love to hear from you.
            </p>
            <p>
                hello@lucydeburgh.co.uk
            </p>                        
        </div>
        <div class="social margin-right-lge">
            <a href="https://www.facebook.com/lucydeebe/">
                <img src="/images/icons/facebook.svg"/>
            </a>
            <a href="https://www.instagram.com/lucydeebe/">
                <img src="/images/icons/instagram.svg"/>
            </a>
            <a href="https://www.linkedin.com/in/lucy-de-burgh-52461032/">
                <img src="/images/icons/linkedin.svg"/>
            </a>
        </div>
        <nav class="flex column text-right">
            <a class="footer-nav-item" href="/">Home</a>
            <a class="footer-nav-item" href="/illustration">Illustration</a>
            <a class="footer-nav-item" href="/design">Design</a>
            <a class="footer-nav-item" href="/portraits">Portraits</a>
            <a class="footer-nav-item" href="/about">About Me</a>
        </nav>
    </div>
</footer>