<div class="thumb">
    <a class="block full-width full-height" href="#{{ .RelPermalink }}">
        <img class="full-width full-height object-cover" src="{{ .Param "thumb_url" }}" />
    </a>
    <div id="{{ .RelPermalink }}" class="modaloverlay">
        <div class="modal">
            <a href="#close" class="modal-close">&times;</a>
            <div class="modal-content">
                <h1>{{ .Title }}</h1>
                <div class="modal-body">
                    <img class="full-width" src="{{ .Param "thumb_url" }}" />
                </div>
            </div>
        </div>
    </div>
</div>