<div class="thumb">
    <a class="block full-width full-height" href="#google">
        <img class="full-width full-height object-cover" src="/images/placeholder/4.jpg" />
    </a>
    <div id="google" class="modaloverlay">
        <div class="modal">
            <a href="#close" class="modal-close">&times;</a>
            <div class="modal-content">
                <h1>Here is some content inside the Modal.</h1>
                <div class="modal-body">
                    <img class="full-width" src="/images/placeholder/4.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>