<div class="thumb">
    <a class="block full-width full-height" href="#{{ .RelPermalink }}">
        {{- partial "webp.html" (dict "src" (.Param "url_sml") "alt" (.Param "alt")) "class" "full-width full-height object-cover" -}} 
    </a>
    <div id="{{ .RelPermalink }}" class="modaloverlay">
        <div class="modal">
            <a href="#close" class="modal-close">&times;</a>
            <div class="modal-content">
                <h2>{{ .Title }}</h2>
                <div class="modal-body">
                    {{- partial "webp.html" (dict "src" (.Param "url_lge") "alt" (.Param "alt")) "class" "full-width" -}} 
                </div>
            </div>
        </div>
    </div>
</div>