{{ define "main" }}        
        {{- partial "slider.html" . -}}
        <main class="flex-expand margin-top-lge text-center">
            <div class="margin-bottom-lge margin-left margin-right">
                <h1>
                    I’m Lucy, an illustrator and graphic designer based on the beautiful south coast of Devon.
                </h1>
                <p>
                    I have a passion for creating entirely original and bespoke pieces of work,
                    bringing a sense of fun and style to everything I do. Let me help you to
                    make your brand or project stand out and delight.
                </p>
            </div>
        <div class="bg-blue-light text-center padding-top-lge padding-bottom-lge padding-left padding-right">
            <img class="tell-me margin-bottom-lge" img src="/images/ideasman.png" />
            <h1>Tell me everything</h1>
            <p>
                I want to hear about your project or idea and
                don’t hold back on the details. I want to hear
                your hopes and goals. Tell me about the
                things you love and even tell me about the
                things you.....don’t. 
            </p>
        </div>
        <div id="feed" class="feed margin-top-lge content-container">
            <div class="feed-col feed-col--1"></div>
            <div class="feed-col feed-col--2"></div>
            <div class="feed-col feed-col--3"></div>
            <div class="feed-col feed-col--4"></div>
        </div>
        </main>

        <template id="t_feed_item">
            <div class="feed-item">
                <a class="feed-link" target="_blank" rel="noopener noreferrer">
                    <img class="feed-image" />
                    <span class="feed-overlay-title"></span>
                </a>
            </div>
        </template> 

        <script src="/js/sliderjs-script-v1.js"></script>
        <script src="/js/colcade.js"></script>
        <script src="/js/feed.js"></script>
{{ end }}